[Unit]
Description=relinker service
After=multi-user.target

[Service]
Type=idle

ExecStart=/bin/bash /opt/script/relink-repeater.sh >> /var/log/script/checkBMAPI.log 2>&1


[Install]
WantedBy=multi-user.target